body, html
{
    height: 100%;
}

.portfolio
{
	background-image: url('../img/projects.png');
	height: 100%;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;

}


.titre_portfolio
{
    font-size: 4em;
    font-weight: bold;
	color: white;
	margin-top: 15%;
	font-family: 'Muli', sans-serif;
	margin-bottom: 10%;
}

.button{
  background:#336B87;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button:hover{
  background:#fff;
  color:black;
}
.button:before,.button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #336B87;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before,.button:hover:after{
  width:100%;
  transition:800ms ease all;
}

a:focus, a:hover {
    color: #336B87;
    text-decoration: none;
}

.titre_taches p
{
	font-size: 1.5em;
	font-family: 'Muli', sans-serif;
	margin-left: 8%;
	margin-right: 8%;
}

.tache
{
	margin: 8%;
}

